__pycache__/
.pytest_cache/
venv/
*.csv
*.pl

# Debian packaging build output directories & temporary artifacts
debian/.debhelper/
debian/bulls-and-cows-game/
debian/bulls-and-cows-game-qt/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.substvars

deb/

