#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	mv debian/bulls-and-cows-game/usr/games/bulls_and_cows_game.py \
	   debian/bulls-and-cows-game/usr/games/bulls-and-cows-game
	
	mv debian/bulls-and-cows-game-qt/usr/games/bulls_and_cows_game_qt.py \
	   debian/bulls-and-cows-game-qt/usr/games/bulls-and-cows-game-qt
